<template lang="pug">
	main
		h1 Who's standing up today?
		ul.member-list
			li.card.member(v-for="member in todaysList", :key="member")
				span.name {{ member }}
				button(type="button", @click="removeMember(member)"): XIcon
		form(@submit="addNewMember")
			label.card.new-member
				strong Add a new team member
				div.wrapper
					input(v-model="newMember", placeholder="Add a new member")
					button(type="button", @click="addNewMember"): PlusIcon
</template>

<script>
	import {
		PlusIcon,
		XIcon
	} from 'vue-feather-icons';

	export default {
		name: 'WhosStandingUp',
		components: { PlusIcon, XIcon },
		data () {
			return {
				newMember: ''
			};
		},
		computed: {
			todaysList () { return this.$store.getters.todaysList; }
		},
		methods: {
			addNewMember (event) {
				if (event && event.preventDefault) event.preventDefault();
				if (!this.newMember) return;

				this.$store.dispatch('addMember', this.newMember);
				this.newMember = '';
			},
			removeMember (member) {
				this.$store.dispatch('removeMember', member);
			}
		}
	};
</script>

<style lang="scss" scoped>
	@import '~/scss/base16';

	main {
		text-align: center;
		max-width: 24rem;
		margin: auto;

		h1 { line-height: 1.4em; }

		button {
			cursor: pointer;
		}

		ul.member-list {
			list-style-type: none;
			padding: 0;

			li.member {
				margin-bottom: 1rem;
				display: flex;
				justify-content: space-between;

				span.name {
					display: block;
					padding: 0.5rem 1rem;
				}

				button {
					border: none;
					outline: none;
					background-color: $base08;
					color: $base00;
				}

				&:last-of-type { margin-bottom: 0; }
			}
		}

		label.new-member {
			display: flex;
			flex-direction: column;
			width: 100%;

			strong { display: none; }

			div.wrapper {
				width: 100%;
				display: flex;
				justify-content: space-between;

				input {
					flex-grow: 1;
					padding: 0.5rem 1rem;
				}

				button {
					background: $base0B;
					color: $base00;
				}
			}
		}
	}
</style>
