doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width")
		title Who's Standing Up?
		link(rel="stylesheet", href="~/scss/main.scss")
	body
		div#app-root
		script(src="~/index.js")
