@import "sanitize.css";
@import "sanitize.css/forms.css";
@import "sanitize.css/typography.css";
@import "~/scss/base16";

html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", sans-serif;
	font-size: 14pt;
	text-rendering: optimizeLegibility;
	line-height: 1.6em;
}

body {
	background: $base00;
	color: $base05;
	margin: 1rem;
}

.card {
	background-color: $base01;
	border: 0.0625rem solid $base02;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.24);

	// &:hover {
	// 	box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.16), 0 0.375rem 0.75rem rgba(0, 0, 0, 0.23);
	// }
}
